<div id="<%= dom_id neighborhood %>">
  <p>
    <strong>Name:</strong>
    <%= neighborhood.name %>
  </p>

  <p>
    <strong>Maxlat:</strong>
    <%= neighborhood.maxlat %>
  </p>

  <p>
    <strong>Minlat:</strong>
    <%= neighborhood.minlat %>
  </p>

  <p>
    <strong>Maxlong:</strong>
    <%= neighborhood.maxlong %>
  </p>

  <p>
    <strong>Minlong:</strong>
    <%= neighborhood.minlong %>
  </p>

</div>
